<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Экскурсовод</title>
</head>
<body>
<header class="mb-auto">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                     stroke-linecap="round"
                     stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/>
                    <circle cx="12" cy="13" r="4"/>
                </svg>
                <strong>Экскурсионное бюро</strong>
            </a>
            <ul class="nav nav-pills">
                <li><a href="/" class="nav-link px-2 text-white">Начальная страница</a></li>
                <li><a href="/excursions" class="nav-link px-2 text-white">Экскурсии</a></li>
                <li><a href="/cities" class="nav-link px-2 text-white">Города</a></li>
                <li><a href="/guides" class="nav-link px-2 text-secondary">Экскурсоводы</a></li>
                <li><a href="/about" class="nav-link px-2 text-white">О нас</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="container marketing">
    <div class="container col-xxl-12 px-6 py-5">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading" th:utext="${guide.getName() + ' ' + guide.getSurname()}"></h2>
                <p class="lead"><span th:utext="${guide.getDescription()}"></span><br>
                    <strong>Дата рождения: </strong><span th:utext="${guide.prettyBirthdate}"></span></p>
            </div>
            <div class="col-md-5">
                <img th:src="${guide.getPhoto()}"
                     alt="Экскурсовод" class="img-fluid">
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-sm btn-outline-warning"
            th:attr="onclick='javascript:openCngForm(modalChangeGuide, \''
            + ${guide.getName()} + '\', \''
            + ${guide.getSurname()} + '\', \''
            + ${(guide.getBirthdate())} + '\', \''
            + ${guide.getDescription()} + '\')'">
        Редактировать экскурсовода
    </button>
    <button type="button" class="btn btn-sm btn-outline-danger" onclick="openForm(modalDeleteGuide)">
        Удалить экскурсовода
    </button>
    <div class="modal py-5" tabindex="-1" role="dialog" id="modalDeleteGuide">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-body p-4 text-center">
                    <h5 class="mb-0">Вы действительно хотите удалить экскурсовода?</h5>
                    <p class="mb-0">Данное действие невозможно будет отменить.</p>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button type="button" class="btn btn-sm btn-danger btn-lg fs-6 text-decoration-none col-6 m-0 rounded-0
                      data-bs-dismiss=modal">
                        <a th:href="@{/delete_guide/{id}(id=${guide.getId()})}"><strong>Удалить</strong></a></button>
                    <button type="button" class="btn btn-lg fs-6 text-decoration-none col-6 m-0 rounded-0"
                            data-bs-dismiss="modal" onclick="closeForm(modalDeleteGuide)">Отмена
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal py-5" tabindex="-1" id="modalChangeGuide">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-5 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h2 class="fw-bold mb-0">Редактировать экскурсовода</h2>
                    <button type="button" id="close" class="btn-close" onclick="closeForm(modalChangeGuide)"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-0">
                    <form class="" action="#" th:action="@{/update_guide/{id}(id=${guide.getId()})}"
                          th:object="${guideForm}" enctype="multipart/form-data" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control rounded-4" id="floatingName"
                                   placeholder="Name" maxlength="50" th:field="*{name}">
                            <label for="floatingName">Имя</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control rounded-4" id="floatingSurname"
                                   placeholder="Surname" maxlength="50" th:field="*{surname}">
                            <label for="floatingSurname">Фамилия</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control rounded-4" id="floatingDate"
                                   placeholder="2000-06-02" th:field="*{birthdate}">
                            <label for="floatingDate">Дата рождения</label>
                        </div>
                        <div class="mb-3">
                            <label for="photoGuide">Фотография</label>
                            <input class="form-control" type="file" id="photoGuide" name="photoGuide"
                                   accept="image/png, image/jpeg">
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control rounded-4" id="floatingDesc" placeholder="desc"
                                      rows="10" maxlength="1000" th:field="*{description}"></textarea>
                            <label for="floatingDesc">Описание</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-4 btn-warning" type="submit">Редактировать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="text-muted py-5">
    <div class="container">
        <p class="mb-1">Экскурсии по необычным местам городов России и стран СНГ</p>
        <p class="mb-0">Since 2022</p>
    </div>
</footer>
<script src="/js/modalFormScripts.js"></script>
</body>
</html>


