<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Главная страница</title>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                     stroke-linecap="round"
                     stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/>
                    <circle cx="12" cy="13" r="4"/>
                </svg>
                <strong>Экскурсионное бюро</strong>
            </a>
            <ul class="nav nav-pills">
                <li><a href="#" class="nav-link px-2 text-secondary">Начальная страница</a></li>
                <li><a href="/excursions" class="nav-link px-2 text-white">Экскурсии</a></li>
                <li><a href="/cities" class="nav-link px-2 text-white">Города</a></li>
                <li><a href="/guides" class="nav-link px-2 text-white">Экскурсоводы</a></li>
                <li><a href="/about" class="nav-link px-2 text-white">О нас</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="container marketing">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Экскурсии по необычным местам городов России и стран СНГ</h1>
            </div>
        </div>
    </section>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Узнайте лучше свою Родину</h2>
            <p class="lead">Вы устали от однообразия и хотите, чтобы ваша жизнь обрела новые краски? Если это так,
                вы можете посетить такие места известных городов России и стран СНГ, о которых вы даже не догадывались.
                У вас есть возможность увидеть необычные достопримечательности известных городов России и
                стран СНГ и рассказать о них своим близким и друзьям.</p>
        </div>
        <div class="col-md-5">
            <img src="/pictures/unusual_place.jpg" alt="Необычное место" class="img-fluid">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Необычный подарок</h2>
            <p class="lead">Подарите вашим близким экскурсию по одному из интересных городов России или СНГ. Мы уверены,
                что это будет незабываемый и интересный отдых для вас и ваших близких..</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/pictures/family.jpg" alt="Подарок" class="img-fluid">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Счастливые гости</h2>
            <p class="lead">Прекрасное настроение, счастливая улыбка, море энергии и позитива,
                слова благодарности от наших гостей – все это и есть результат нашей работы!</p>
        </div>
        <div class="col-md-5">
            <img src="/pictures/happy_tourists.jpg" alt="Туристы" class="img-fluid">
        </div>
    </div>
    <hr class="featurette-divider">
</div>
<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Наверх</a>
        </p>
        <p class="mb-1">Экскурсии по необычным местам городов России и стран СНГ</p>
        <p class="mb-0">Since 2022</p>
    </div>
</footer>
</body>
</html>


